<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login Page</h2>
    <form action="/login5" method="GET">
        <p> Name <input type="text" id="username" name="username" required> </p>
        <p> Email <input type="email"  name="email" required> </p>
        <p> Contact NO <input type="text"  name="contactNo" required> </p>
        <p> Pin Code <input type="text"  name="pin" required> </p>

        <input type="submit" value="submit">
    </form>
</body>
</html>